<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>

    <script src="js/typed.js"></script>
    
    <title>Document</title>
</head>
<body>
    <header>
        
<div class="topnav" id="myTopnav">
    <a href="index.html" class="active"><img src="images/logo.png" alt=""></a>
    <a href="#news">About</a>
    <a href="#contact">Features</a>
    <a href="#about">Testimonies</a>
    <a href="#about">Location</a>
    <a href="signup.html">Sign Up</a>
    <a href="login.html"><div class="button">Login</div></a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
    </header>
    <main>
       
        <section class="first-section" style="background-image: url('images/doctor-background.png'); background-position: center;  background-size: cover;">
<section>
<div class="intro">
    QUICKLY GET A DOCTOR CLOSE TO YOU WITH <div class="typed"></div>
</div>
<div class="description">
    <div>
        <div class="circle"><img src="images/face.svg" alt=""></div>
        <div class="rectangle">Login</div>
    </div>
    <div class="line">

    </div>
    <div>
        <div class="circle"><img src="images/search.svg" alt=""></div>
        <div class="rectangle">Search</div>
    </div>
    <div class="line">

    </div>
    <div>
        <div class="circle"><img src="images/call.svg" alt=""></div>
        <div class="rectangle">Contact</div>
    </div>
    <div class="line hide"></div>
    
</div>
<div class="searchdiv">
    <input type="search" class="search" placeholder="Search for doctor’s Location">
    <input type="button" class="searchbutton" value="Search">
</div>
<div class="lastintro">
    Try QuickDoctor free for one year
</div>
</section>

        </section>
        <section class="second-section">
            <div class="membership">
                MEMBERSHIP

            </div>
            <div class="mem-des">
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi perferendis in repellat at itaque inventore.
           </div>
        </section>
        <section class="third-section"> 
            <div class="text-parent">
                <div class="letter">
                    1
                </div>
                <div class="l-text">
                    Nemo enim ipsam <br> voluptatem quia voluptas
                </div>
            </div>
            <div class="centerdiv" style="background-image: url('images/centerpic.svg'); background-repeat: no-repeat;height: 400px;">
              
                <img src="images/rect.svg" alt="" class="rectsvg">
            </div>
            <div class="text-parent thirdchild">
               
                <div class="l-text">
                    Nemo enim ipsam <br> voluptatem quia voluptas
                </div>
                <div class="letter">
                    2
                </div>
            </div>
            
            <div class="text-parent">
                <div class="letter">
                    3
                </div>
                <div class="l-text">
                    Nemo enim ipsam <br> voluptatem quia voluptas
                </div>
                
            </div>
            <div class="text-parent lastchild">
                
                <div class="l-text ">
                    Nemo enim ipsam <br> voluptatem quia voluptas
                </div>
                <div class="letter">
                    4
                </div>
            </div>
        </section>
        <section class="fourth-section">
<div class="downloadheading">Download <img src="images/logo.svg" alt="" class="imgfourth"> App</div>
<div class="dtext">
    Subscribe to our newsletter, as we will keep you informed on our latest updates, including when our mobile apps will be released

</div>   

<div class="sub">
    <img src="images/andriod.png" alt="">
    <img src="images/app-store.jpg" alt="">
</div>
</section>
<section class="fifth-section">
    <div class="searchdiv">
        <input type="text" class="search" placeholder="johndoe@xyz.abc">
        <input type="button" class="searchbutton" value="Subscribe">
    </div>
</section>
<footer>
    <section>
        <div>
    <ul>
        <li> FAQS</li>
        <li>Sevices</li>
        <li>Contact Us</li>
        <li>Privacy Policy </li>  
        <li>legals</li> 
        <li>Our Apps</li>
        <li>Vacancy</li>
    </ul>
</div>
    <div>
    <ul>
        <li>Other Services</li>
        <li>Doctors Without Bounderies</li>
        <li>Buy Our Suppliments</li>
    </ul>
</div>
    <div>
        <h1>BE PATIENT</h1>
        <img src="images/andriod.png" alt="">
        <img src="images/app-store.jpg" alt="">
    </div>
    </section>
    <div>
        <div>
            &copy <div class="2020"> 2020</div><img src="images/logo.png" alt="">
        </div>
    </div>
</footer>

    </main>
</body>
<script src="js/nav.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>

</html>



